.project {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    /* border: 1px solid red;
    margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project div img {
    height: 700px;
    width: 500px;
    border-radius: 4px;
    /* margin-top: 70px;
    border: 3px solid green;
    margin-left: 30px; */
}

.project div h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.project div h3 :hover {
    color: red;
}

.card {
    border: 5px solid rebeccapurple;
    height: 700px;
    width: 500px; 
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    
}

.intro {
    height: 65px;
    width: 500px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: -2px;
    background-color: mediumslateblue;
    color: white;
    transition: .5s;
}

.card:hover .intro {
    height: 250px;
    bottom: 240;
    background-color: mediumslateblue;
}

.card:hover h3 {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .project {
        display: block;
        width: 300px;
    }

    .project div img {
        width: 260px;
        height: 350px;
    }
    .card{
        height: 400px;
        width: 280px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .intro{
        height: 77px;
        width: 275px;
    }

    .intro h1{
        font-size: 20px;

    }
    .project div h3 {
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }
    
}